
@{
    ViewBag.Title = "Add";
}

<h2 style="color: Black; font-weight: bolder">Add Category</h2>

@*<form method="post">
    <label>Name</label>
    <input type="text" name="Name" />


    <label>Description</label>
    <input type="text" name="Description" />

    <br />

    <label>Image</label>

    <input name="ImageURL" id="ImageURL" type="hidden" />
    <input type="file" name="Image" id="imageUpload" accept=".png, .jpg" />
    <br />
    <img id="categoryImage"/>
    <br />
    <button type="submit"> Save</button>
</form>*@

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" placeholder="Enter Name" />

    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="Description" class="form-control" placeholder="Enter Description" />

    </div>

    <div class="form-group">
        <label>Image</label>
        <input name="ImageURL" id="ImageURL" type="hidden" />
        <input type="file" name="Image" id="imageUpload" accept=".png, .jpg" />
        <img id="categoryImage" />
    </div>

    <button type="submit" class="btn btn-primary"> Save</button>
   
</form>




<script>

    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'Post',
            url: '/Shared/UploadImage',
            dataType:'Json',
            data: formData,
            contentType: false,
            processData:false
        })
            .done(function (response) {
                debugger;
                console.log(response);

                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);

                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorthrown) {
                alert("Fail");
            })
   
    });

</script>